<a href="https://colab.research.google.com/github/ancestor9/24_fall_Big-Data-Processing-coding-/blob/main/09_Pandas_%EC%8B%A4%EC%8A%B5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import os

os.getcwd()

'C:\\python_CPUENV'

# 데이터
Pandas 패키지를 Import 하고 실습 데이터 파일([Ecommerce Purchases](https://www.kaggle.com/datasets/utkarsharya/ecommerce-purchases))을 read 하세요.  
그 다음, Pandas Dataframe 형식으로 ecom 이라는 변수에 저장해보세요.

In [ ]:
# module import
import pandas as pd

In [ ]:
ecom = pd.read_csv('./data/Ecommerce Purchases')

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

## DataFrame 의 앞부분과 뒷부분 확인

In [ ]:
ecom.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

In [ ]:
ecom.tail()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
9995,"966 Castaneda Locks\nWest Juliafurt, CO 96415",92 XI,PM,Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5352 ...,Randall-Sloan,342945015358701,03/22,838,JCB 15 digit,iscott@wade-garner.com,Printmaker,29.73.197.114,it,82.21
9996,"832 Curtis Dam Suite 785\nNorth Edwardburgh, T...",41 JY,AM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Hale, Collins and Wilson",210033169205009,07/25,207,JCB 16 digit,mary85@hotmail.com,Energy engineer,121.133.168.51,pt,25.63
9997,Unit 4434 Box 6343\nDPO AE 28026-0283,74 Zh,AM,Mozilla/5.0 (Macintosh; U; Intel Mac OS X 10_7...,Anderson Ltd,6011539787356311,05/21,1,VISA 16 digit,tyler16@gmail.com,Veterinary surgeon,156.210.0.254,el,83.98
9998,"0096 English Rest\nRoystad, IA 12457",74 cL,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_8;...,Cook Inc,180003348082930,11/17,987,American Express,elizabethmoore@reid.net,Local government officer,55.78.26.143,es,38.84
9999,"40674 Barrett Stravenue\nGrimesville, WI 79682",64 Hr,AM,Mozilla/5.0 (X11; Linux i686; rv:1.9.5.20) Gec...,Greene Inc,4139972901927273,02/19,302,JCB 15 digit,rachelford@vaughn.com,"Embryologist, clinical",176.119.198.199,el,67.59

## 몇 개의 컬럼과 행이 있는지 확인해보기

In [ ]:
# .info()
ecom.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

In [ ]:
# 수치통계량 확인
ecom.describe()

        Credit Card  CC Security Code  Purchase Price
count  1.000000e+04      10000.000000    10000.000000
mean   2.341374e+15        907.217800       50.347302
std    2.256103e+15       1589.693035       29.015836
min    6.040186e+10          0.000000        0.000000
25%    3.056322e+13        280.000000       25.150000
50%    8.699942e+14        548.000000       50.505000
75%    4.492298e+15        816.000000       75.770000
max    6.012000e+15       9993.000000       99.990000

In [ ]:
# 평균 구매가격 확인
ecom['Purchase Price'].mean()

50.347302

In [ ]:
# 축 방향에 따른 mean 확인
print(ecom.mean(axis=1))
print(ecom.mean())

0       2.003976e+15
1       1.112586e+15
2       2.253192e+11
3       2.003860e+15
4       2.003819e+15
            ...
9995    1.143150e+14
9996    7.001106e+13
9997    2.003847e+15
9998    6.000112e+13
9999    1.379991e+15
Length: 10000, dtype: float64
Credit Card         2.341374e+15
CC Security Code    9.072178e+02
Purchase Price      5.034730e+01
dtype: float64

# 문제

## 1. 구매 가격(Purchase Price)의 최대값, 최소값 구하기

In [ ]:
print(f"구매 가격 최댓값: {ecom['Purchase Price'].max()}")
print(f"구매 가격 최솟값: {ecom['Purchase Price'].min()}")

구매 가격 최댓값: 99.99
구매 가격 최솟값: 0.0

## 2. 구매 가격(Purchase Price)의 최대값, 최소값을 반올림하여 구하기

In [ ]:
print(f"구매 가격 최댓값 반올림: {round(ecom['Purchase Price'].max())}")
print(f"구매 가격 최솟값 반올림: {round(ecom['Purchase Price'].min())}")

구매 가격 최댓값 반올림: 100.0
구매 가격 최솟값 반올림: 0.0

## 3. 빈도 수 세기

* `.count()`
* `.value_counts()`

In [ ]:
# 단순 레코드 개수
ecom.count()

Address             10000
Lot                 10000
AM or PM            10000
Browser Info        10000
Company             10000
Credit Card         10000
CC Exp Date         10000
CC Security Code    10000
CC Provider         10000
Email               10000
Job                 10000
IP Address          10000
Language            10000
Purchase Price      10000
dtype: int64

In [ ]:
# language가 영어인 사람의 신용카드(credict card) 개수
ecom[ecom['Language'] == 'en']['Credit Card'].count()

1098

In [ ]:
# 직업이 변호사인 사람의 수
ecom['Job'].unique() # 대문자
ecom[ecom['Job'] == 'Lawyer'].count()

Address             30
Lot                 30
AM or PM            30
Browser Info        30
Company             30
Credit Card         30
CC Exp Date         30
CC Security Code    30
CC Provider         30
Email               30
Job                 30
IP Address          30
Language            30
Purchase Price      30
dtype: int64

In [ ]:
# 오전과 오후에 구매하는 사람들의 수
ecom['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

In [ ]:
# 가장 흔한 직업 상위 5개 직종
ecom['Job'].value_counts(ascending=False).head(5)

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

In [ ]:
# 가장 흔하지 않은 직업 상위 5개 직종
ecom['Job'].value_counts(ascending=True).head(5)

Investment analyst             5
Information systems manager    5
Editor, film/video             6
Actuary                        6
Music therapist                7
Name: Job, dtype: int64

## 4. specific variable values

In [ ]:
# '90 WT' 지역에서 구매된 거래 금액
ecom.Address.unique() # 아님
ecom.Lot.unique() # 맞을듯한디?
ecom[ecom.Lot == '90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

In [ ]:
# 신용카드번호 4926535242672853 이용자의 이메일 주소
ecom['Credit Card'] # dtype: int64
ecom[ecom['Credit Card'] == 4926535242672853].Email

1234    bondellen@williams-garza.com
Name: Email, dtype: object

In [ ]:
# American Express 카드로 95 달러 초과 금액 결제하는 사람의 수
bool1 = ecom['CC Provider'].isin(['American Express'])
bool2 = ecom['Purchase Price'] > 95
ecom[bool1 & bool2].count()

Address             39
Lot                 39
AM or PM            39
Browser Info        39
Company             39
Credit Card         39
CC Exp Date         39
CC Security Code    39
CC Provider         39
Email               39
Job                 39
IP Address          39
Language            39
Purchase Price      39
dtype: int64

In [ ]:
# 95달러 초과 결제 혹은 10달러 미만 결제
ecom[(ecom['Purchase Price'] > 95) | (ecom['Purchase Price'] < 10)].count()

Address             1502
Lot                 1502
AM or PM            1502
Browser Info        1502
Company             1502
Credit Card         1502
CC Exp Date         1502
CC Security Code    1502
CC Provider         1502
Email               1502
Job                 1502
IP Address          1502
Language            1502
Purchase Price      1502
dtype: int64

## 5. apply와 lambda 함수 적용

In [ ]:
# 2025년에 만료되는 신용카드
ecom[ecom['CC Exp Date'].str[-2:] == '25'].count()

# 강사님 정답
# ecom['CC Exp Date'].apply(lambda x: x[-2:])
ecom[ecom['CC Exp Date'].apply(lambda x: x[-2:] =='25')].count()

Address             1033
Lot                 1033
AM or PM            1033
Browser Info        1033
Company             1033
Credit Card         1033
CC Exp Date         1033
CC Security Code    1033
CC Provider         1033
Email               1033
Job                 1033
IP Address          1033
Language            1033
Purchase Price      1033
dtype: int64

In [ ]:
# 가장 인기 있는 이메일 제공자/호스트 상위 5위
ecom['Email'].apply(lambda x: x.split('@')[-1]).value_counts().head(5)

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
Name: Email, dtype: int64