<a href="https://colab.research.google.com/github/ancestor9/24_fall_Big-Data-Processing-coding-/blob/main/bigdata_processing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [29]:
# prompt: https://github.com/microsoft/powerbi-desktop-samples/blob/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx 을 데이터프레임으로 읽어줘

# !pip install pandas openpyxl

import pandas as pd
path = 'https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx'

In [31]:
df = pd.read_excel(path)

In [34]:
df.head(3)

    Channel  SalesOrderLineKey Sales Order Sales Order Line
0  Reseller           43659001     SO43659      SO43659 - 1
1  Reseller           43659002     SO43659      SO43659 - 2
2  Reseller           43659003     SO43659      SO43659 - 3

In [38]:
# prompt: https://github.com/microsoft/powerbi-desktop-samples/blob/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx 을 데이터프레임으로 읽어줘

#!pip install pandas openpyxl

import pandas as pd

# Replace with the actual URL of your Excel file
url = "https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx"

try:
  df = pd.read_excel(url)
  print("Excel file loaded successfully.")
except Exception as e:
  print(f"Error loading Excel file: {e}")

# Display the DataFrame (optional)
# print(df.head())

Excel file loaded successfully.

In [ ]:
df

         Channel  SalesOrderLineKey Sales Order Sales Order Line
0       Reseller           43659001     SO43659      SO43659 - 1
1       Reseller           43659002     SO43659      SO43659 - 2
2       Reseller           43659003     SO43659      SO43659 - 3
3       Reseller           43659004     SO43659      SO43659 - 4
4       Reseller           43659005     SO43659      SO43659 - 5
...          ...                ...         ...              ...
121248  Internet           75122001     SO75122      SO75122 - 1
121249  Internet           75122002     SO75122      SO75122 - 2
121250  Internet           75123001     SO75123      SO75123 - 1
121251  Internet           75123002     SO75123      SO75123 - 2
121252  Internet           75123003     SO75123      SO75123 - 3

[121253 rows x 4 columns]

In [66]:
# prompt: https://github.com/microsoft/powerbi-desktop-samples/blob/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx 파일은 여러 시트로 구성되어 있는데 모든 시트를 읽어줘

import pandas as pd

#!pip install pandas openpyxl


# Replace with the actual URL of your Excel file
url = "https://github.com/microsoft/powerbi-desktop-samples/raw/main/AdventureWorks%20Sales%20Sample/AdventureWorks%20Sales.xlsx"

try:
  xls = pd.ExcelFile(url)
  sheet_names = xls.sheet_names

  all_sheets_data = {}
  for sheet_name in sheet_names:
    df = pd.read_excel(url, sheet_name=sheet_name)
    print(df.head())
    all_sheets_data[sheet_name] = df
    print(f"Sheet '{sheet_name}' loaded successfully.")

except Exception as e:
  print(f"Error loading Excel file: {e}")


# Access data from individual sheets
# Example:
# print(all_sheets_data['Product'])

    Channel  SalesOrderLineKey Sales Order Sales Order Line
0  Reseller           43659001     SO43659      SO43659 - 1
1  Reseller           43659002     SO43659      SO43659 - 2
2  Reseller           43659003     SO43659      SO43659 - 3
3  Reseller           43659004     SO43659      SO43659 - 4
4  Reseller           43659005     SO43659      SO43659 - 5
Sheet 'Sales Order_data' loaded successfully.
   SalesTerritoryKey     Region        Country          Group
0                  1  Northwest  United States  North America
1                  2  Northeast  United States  North America
2                  3    Central  United States  North America
3                  4  Southwest  United States  North America
4                  5  Southeast  United States  North America
Sheet 'Sales Territory_data' loaded successfully.
   SalesOrderLineKey  ResellerKey  CustomerKey  ProductKey  OrderDateKey  \
0           43659001          676           -1         349      20170702
1           43659002          676           -1         350      20170702
2           43659003          676           -1         351      20170702
3           43659004          676           -1         344      20170702
4           43659005          676           -1         345      20170702

   DueDateKey  ShipDateKey  SalesTerritoryKey  Order Quantity  Unit Price  \
0    20170712   20170709.0                  5               1    2024.994
1    20170712   20170709.0                  5               3    2024.994
2    20170712   20170709.0                  5               1    2024.994
3    20170712   20170709.0                  5               1    2039.994
4    20170712   20170709.0                  5               1    2039.994

   Extended Amount  Unit Price Discount Pct  Product Standard Cost  \
0         2024.994                        0              1898.0944
1         6074.982                        0              1898.0944
2         2024.994                        0              1898.0944
3         2039.994                        0              1912.1544
4         2039.994                        0              1912.1544

   Total Product Cost  Sales Amount
0           1898.0944      2024.994
1           5694.2832      6074.982
2           1898.0944      2024.994
3           1912.1544      2039.994
4           1912.1544      2039.994
Sheet 'Sales_data' loaded successfully.
   ResellerKey       Reseller ID         Business Type  \
0           -1  [Not Applicable]      [Not Applicable]
1            1        AW00000001  Value Added Reseller
2            2        AW00000002   Specialty Bike Shop
3            3        AW00000003             Warehouse
4            4        AW00000004  Value Added Reseller

                   Reseller              City    State-Province  \
0          [Not Applicable]  [Not Applicable]  [Not Applicable]
1              A Bike Store           Seattle        Washington
2        Progressive Sports            Renton        Washington
3  Advanced Bike Components            Irving             Texas
4     Modular Cycle Systems            Austin             Texas

     Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]
1     United States             98104
2     United States             98055
3     United States             75061
4     United States             78701
Sheet 'Reseller_data' loaded successfully.
    DateKey       Date Fiscal Year Fiscal Quarter     Month     Full Date  \
0  20170701 2017-07-01      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 01
1  20170702 2017-07-02      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 02
2  20170703 2017-07-03      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 03
3  20170704 2017-07-04      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 04
4  20170705 2017-07-05      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 05

   MonthKey
0    201707
1    201707
2    201707
3    201707
4    201707
Sheet 'Date_data' loaded successfully.
   ProductKey         SKU                    Product  Standard Cost  Color  \
0         210  FR-R92B-58  HL Road Frame - Black, 58       868.6342  Black
1         211  FR-R92R-58    HL Road Frame - Red, 58       868.6342    Red
2         212   HL-U509-R      Sport-100 Helmet, Red        12.0278    Red
3         213   HL-U509-R      Sport-100 Helmet, Red        13.8782    Red
4         214   HL-U509-R      Sport-100 Helmet, Red        13.0863    Red

   List Price          Model  Subcategory     Category
0   1431.5000  HL Road Frame  Road Frames   Components
1   1431.5000  HL Road Frame  Road Frames   Components
2     33.6442      Sport-100      Helmets  Accessories
3     33.6442      Sport-100      Helmets  Accessories
4     34.9900      Sport-100      Helmets  Accessories
Sheet 'Product_data' loaded successfully.
   CustomerKey       Customer ID          Customer              City  \
0           -1  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        11000        AW00011000          Jon Yang       Rockhampton
2        11001        AW00011001      Eugene Huang           Seaford
3        11002        AW00011002      Ruben Torres            Hobart
4        11003        AW00011003       Christy Zhu        North Ryde

     State-Province    Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        Queensland         Australia              4700
2          Victoria         Australia              3198
3          Tasmania         Australia              7001
4   New South Wales         Australia              2113
Sheet 'Customer_data' loaded successfully.

In [68]:
type(all_sheets_data)

dict

In [69]:
all_sheets_data.keys()

dict_keys(['Sales Order_data', 'Sales Territory_data', 'Sales_data', 'Reseller_data', 'Date_data', 'Product_data', 'Customer_data'])

In [70]:
all_sheets_data['Customer_data'].head()

,CustomerKey,Customer ID,Customer,City,State-Province,Country-Region,Postal Code
0,-1,[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable]
1,11000,AW00011000,Jon Yang,Rockhampton,Queensland,Australia,4700
2,11001,AW00011001,Eugene Huang,Seaford,Victoria,Australia,3198
3,11002,AW00011002,Ruben Torres,Hobart,Tasmania,Australia,7001
4,11003,AW00011003,Christy Zhu,North Ryde,New South Wales,Australia,2113

In [58]:
type('When you look at me')

str

In [64]:
len(text.lower().split())

223

In [65]:
# prompt: text에서 단어의 출현빈도를 사전형과 반복문으로 코드를

word_counts = {}
for word in text.lower().split():
  if word not in word_counts:
    word_counts[word] = 0
  word_counts[word] += 1

print(word_counts)

{'that': 2, 'arizona': 1, 'sky': 1, "burnin'": 1, 'in': 4, 'your': 1, 'eyes': 1, 'you': 4, 'look': 2, 'at': 2, 'me': 4, 'and,': 1, 'babe,': 1, 'i': 8, 'wanna': 3, 'catch': 1, 'on': 1, 'fire': 1, "it's": 1, 'buried': 1, 'my': 1, 'soul': 1, 'like': 1, 'california': 1, 'gold': 1, 'found': 1, 'the': 13, 'light': 1, "couldn't": 1, 'find': 4, 'so': 3, 'when': 7, "i'm": 3, 'all': 4, 'choked': 3, 'up': 3, 'and': 7, "can't": 3, 'words': 3, 'every': 3, 'time': 3, 'we': 5, 'say': 3, 'goodbye': 3, 'baby,': 4, 'it': 3, 'hurts': 3, 'sun': 3, 'goes': 3, 'down': 3, 'band': 3, "won't": 3, 'play': 3, "i'll": 4, 'always': 4, 'remember': 4, 'us': 4, 'this': 4, 'way': 3, 'lovers': 1, 'night': 1, 'poets': 1, "tryin'": 1, 'to': 2, 'write': 1, "don't": 2, 'know': 2, 'how': 1, 'rhyme': 1, 'but,': 1, 'damn,': 1, 'try': 1, 'but': 1, 'really': 1, "you're": 1, 'where': 1, 'go': 1, 'part': 1, 'of': 1, "that's": 1, 'will': 1, 'never': 1, 'die': 1, 'oh,': 1, 'yeah': 3, 'be': 1, 'just': 1, 'a': 1, 'memory,': 1, 'hoo,': 10, 'hoo': 3, 'way,': 2, 'whole': 1, 'world': 1, 'fades': 1}

In [45]:
# prompt: 10명의 전화번호를 dict로 입력하는 방법 반복문으로

phone_numbers = {}
for i in range(3): # 0, 1, 2
  print(i)
  name = input(f"Enter the name of person {i+1}: ")
  phone = input(f"Enter the phone number of {name}: ")
  phone_numbers[name] = phone

print(phone_numbers)

0
Enter the name of person 1: a
Enter the phone number of a: 1
1
Enter the name of person 2: b
Enter the phone number of b: 2
2
Enter the name of person 3: c
Enter the phone number of c: 1111
{'a': '1', 'b': '2', 'c': '1111'}

In [43]:
for file in xls.sheet_names:
    print(file)

Sales Order_data
Sales Territory_data
Sales_data
Reseller_data
Date_data
Product_data
Customer_data

In [ ]:
type(all_sheets_data)

dict

In [ ]:
for sheet_name, df in all_sheets_data.items():
  print(f"Sheet '{sheet_name}':")
  print(df.head())
  print('*'*100)

Sheet 'Sales Order_data':
    Channel  SalesOrderLineKey Sales Order Sales Order Line
0  Reseller           43659001     SO43659      SO43659 - 1
1  Reseller           43659002     SO43659      SO43659 - 2
2  Reseller           43659003     SO43659      SO43659 - 3
3  Reseller           43659004     SO43659      SO43659 - 4
4  Reseller           43659005     SO43659      SO43659 - 5
****************************************************************************************************
Sheet 'Sales Territory_data':
   SalesTerritoryKey     Region        Country          Group
0                  1  Northwest  United States  North America
1                  2  Northeast  United States  North America
2                  3    Central  United States  North America
3                  4  Southwest  United States  North America
4                  5  Southeast  United States  North America
****************************************************************************************************
Sheet 'Sales_data':
   SalesOrderLineKey  ResellerKey  CustomerKey  ProductKey  OrderDateKey  \
0           43659001          676           -1         349      20170702
1           43659002          676           -1         350      20170702
2           43659003          676           -1         351      20170702
3           43659004          676           -1         344      20170702
4           43659005          676           -1         345      20170702

   DueDateKey  ShipDateKey  SalesTerritoryKey  Order Quantity  Unit Price  \
0    20170712   20170709.0                  5               1    2024.994
1    20170712   20170709.0                  5               3    2024.994
2    20170712   20170709.0                  5               1    2024.994
3    20170712   20170709.0                  5               1    2039.994
4    20170712   20170709.0                  5               1    2039.994

   Extended Amount  Unit Price Discount Pct  Product Standard Cost  \
0         2024.994                        0              1898.0944
1         6074.982                        0              1898.0944
2         2024.994                        0              1898.0944
3         2039.994                        0              1912.1544
4         2039.994                        0              1912.1544

   Total Product Cost  Sales Amount
0           1898.0944      2024.994
1           5694.2832      6074.982
2           1898.0944      2024.994
3           1912.1544      2039.994
4           1912.1544      2039.994
****************************************************************************************************
Sheet 'Reseller_data':
   ResellerKey       Reseller ID         Business Type  \
0           -1  [Not Applicable]      [Not Applicable]
1            1        AW00000001  Value Added Reseller
2            2        AW00000002   Specialty Bike Shop
3            3        AW00000003             Warehouse
4            4        AW00000004  Value Added Reseller

                   Reseller              City    State-Province  \
0          [Not Applicable]  [Not Applicable]  [Not Applicable]
1              A Bike Store           Seattle        Washington
2        Progressive Sports            Renton        Washington
3  Advanced Bike Components            Irving             Texas
4     Modular Cycle Systems            Austin             Texas

     Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]
1     United States             98104
2     United States             98055
3     United States             75061
4     United States             78701
****************************************************************************************************
Sheet 'Date_data':
    DateKey       Date Fiscal Year Fiscal Quarter     Month     Full Date  \
0  20170701 2017-07-01      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 01
1  20170702 2017-07-02      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 02
2  20170703 2017-07-03      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 03
3  20170704 2017-07-04      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 04
4  20170705 2017-07-05      FY2018      FY2018 Q1  2017 Jul  2017 Jul, 05

   MonthKey
0    201707
1    201707
2    201707
3    201707
4    201707
****************************************************************************************************
Sheet 'Product_data':
   ProductKey         SKU                    Product  Standard Cost  Color  \
0         210  FR-R92B-58  HL Road Frame - Black, 58       868.6342  Black
1         211  FR-R92R-58    HL Road Frame - Red, 58       868.6342    Red
2         212   HL-U509-R      Sport-100 Helmet, Red        12.0278    Red
3         213   HL-U509-R      Sport-100 Helmet, Red        13.8782    Red
4         214   HL-U509-R      Sport-100 Helmet, Red        13.0863    Red

   List Price          Model  Subcategory     Category
0   1431.5000  HL Road Frame  Road Frames   Components
1   1431.5000  HL Road Frame  Road Frames   Components
2     33.6442      Sport-100      Helmets  Accessories
3     33.6442      Sport-100      Helmets  Accessories
4     34.9900      Sport-100      Helmets  Accessories
****************************************************************************************************
Sheet 'Customer_data':
   CustomerKey       Customer ID          Customer              City  \
0           -1  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        11000        AW00011000          Jon Yang       Rockhampton
2        11001        AW00011001      Eugene Huang           Seaford
3        11002        AW00011002      Ruben Torres            Hobart
4        11003        AW00011003       Christy Zhu        North Ryde

     State-Province    Country-Region       Postal Code
0  [Not Applicable]  [Not Applicable]  [Not Applicable]
1        Queensland         Australia              4700
2          Victoria         Australia              3198
3          Tasmania         Australia              7001
4   New South Wales         Australia              2113
****************************************************************************************************

In [ ]:
all_sheets_data.keys()

dict_keys(['Sales Order_data', 'Sales Territory_data', 'Sales_data', 'Reseller_data', 'Date_data', 'Product_data', 'Customer_data'])

In [ ]:
all_sheets_data['Customer_data']

,CustomerKey,Customer ID,Customer,City,State-Province,Country-Region,Postal Code
0,-1,[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable],[Not Applicable]
1,11000,AW00011000,Jon Yang,Rockhampton,Queensland,Australia,4700
2,11001,AW00011001,Eugene Huang,Seaford,Victoria,Australia,3198
3,11002,AW00011002,Ruben Torres,Hobart,Tasmania,Australia,7001
4,11003,AW00011003,Christy Zhu,North Ryde,New South Wales,Australia,2113
...,...,...,...,...,...,...,...
18480,29479,AW00029479,Tommy Tang,Versailles,Yveline,France,78000
18481,29480,AW00029480,Nina Raji,London,England,United Kingdom,SW19 3RU
18482,29481,AW00029481,Ivan Suri,Hof,Bayern,Germany,95010
18483,29482,AW00029482,Clayton Zhang,Saint Ouen,Charente-Maritime,France,17490
18484,29483,AW00029483,Jésus Navarro,Paris La Defense,Hauts de Seine,France,92081

In [80]:
# prompt: 모듈을 설명하는 코드와 파일을 제시해 다오

# my_module.py
%%writefile my_module.py

class MyModule:
  """
  다양한 유틸리티 함수를 제공하는 모듈입니다.
  """
    def greet(name):
    """이 함수는 인사말을 출력합니다."""
    print(f"Hello, {name}!")

    def add(x, y):
    """이 함수는 두 숫자를 더합니다."""
    return x + y

    def gob(x, y):
    """이 함수는 두 숫자를 더합니다."""
    return x*y

Overwriting my_module.py

In [79]:
gob(10, 2)

20

In [85]:
#%%writefile my_script.py

# my_script.py

import my_module as mm

text = mm.greet("World")
text

Hello, World!

In [86]:
result = mm.add(5, 3)
print(result)

8

In [82]:
my_module.greet("World")

Hello, World!

In [ ]:

my_module.greet("World")
result = my_module.add(5, 3)
print(result)

In [87]:
# prompt: class를 사용하여 모듈을 설명하는 코드를 제시해줘

%%writefile my_module_class.py

class MyModule:
  """
  다양한 유틸리티 함수를 제공하는 모듈입니다.
  """

  def greet(self, name):
    """
    인사말을 출력합니다.

    Args:
      name: 인사말을 받을 대상의 이름입니다.
    """
    print(f"Hello, {name}!")

  def add(self, x, y):
    """
    두 숫자를 더합니다.

    Args:
      x: 첫 번째 숫자입니다.
      y: 두 번째 숫자입니다.

    Returns:
      두 숫자의 합입니다.
    """
    return x + y

Overwriting my_module_class.py

In [ ]:
import pandas as pd

In [94]:
import my_module_class as mc

In [95]:
my_module_02 = mc.MyModule()

In [96]:
%whos

Variable               Type         Data/Info
---------------------------------------------
ET                     module       <module 'xml.etree.Elemen<...>ml/etree/ElementTree.py'>
MyModule               type         <class 'my_module_class.MyModule'>
StringIO               type         <class '_io.StringIO'>
add                    function     <function add at 0x7e074ad2b6d0>
all_sheets_data        dict         n=7
all_sheets_data_list   list         n=3
csv_file_path          str          data.csv
csv_string             str          name,age\nAlice,25\nBob,30\n
data                   dict         n=3
df                     DataFrame            SalesOrderLineKey<...>121253 rows x 15 columns]
df_from_csv            DataFrame        name  age\n0  Alice   25\n1    Bob   30
file                   str          Customer_data
gob                    function     <function gob at 0x7e074ad29990>
greet                  function     <function greet at 0x7e074ad2b880>
i                      int          2
json                   module       <module 'json' from '/usr<...>on3.10/json/__init__.py'>
json_file_path         str          data.json
json_string            str          {"name": "John Doe", "age<...>: 30, "city": "New York"}
m                      MyModule     <my_module_class.MyModule<...>object at 0x7e076e88f6a0>
mc                     module       <module 'my_module_class'<...>tent/my_module_class.py'>
mm                     module       <module 'my_module' from '/content/my_module.py'>
mmc                    module       <module 'my_module_class'<...>tent/my_module_class.py'>
my_module              MyModule     <my_module_class.MyModule<...>object at 0x7e0758be4dc0>
my_module_01           MyModule     <my_module_class.MyModule<...>object at 0x7e0758be7b80>
my_module_02           MyModule     <my_module_class.MyModule<...>object at 0x7e075250e3e0>
my_module_class        module       <module 'my_module_class'<...>tent/my_module_class.py'>
name                   str          c
os                     module       <module 'os' from '/usr/lib/python3.10/os.py'>
path                   str          https://github.com/micros<...>ventureWorks%20Sales.xlsx
pd                     module       <module 'pandas' from '/u<...>ages/pandas/__init__.py'>
phone                  str          1111
phone_numbers          dict         n=3
process_data           function     <function process_data at 0x7e078bb04670>
python_dict            dict         n=3
result                 int          8
sheet_name             str          Reseller_data
sheet_names            list         n=7
text                   NoneType     None
url                    str          https://github.com/micros<...>ventureWorks%20Sales.xlsx
urll                   str          https://github.com/micros<...>ventureWorks%20Sales.xlsx
word                   str          way
word_counts            dict         n=95
xls                    ExcelFile    <pandas.io.excel._base.Ex<...>object at 0x7e075250cb80>
xml_file_path          str          data.xml

In [90]:

# 모듈의 인스턴스를 생성합니다.
my_module = mmc.MyModule()

# 모듈의 함수를 호출합니다.
my_module.greet("World")
result = my_module.add(5, 3)
print(result)

Hello, World!
8

In [97]:
from my_module_class import MyModule

In [98]:
m = MyModule()
m.add(4,5)

9

In [ ]:
# prompt: http프로토콜을 사용하여 server와 client 통신을 연결하는 코드를 각각 만들어줘, 아주 간단하게

# Server (server.py)
import socket

HOST = '127.0.0.1'  # Standard loopback interface address (localhost)
PORT = 65432        # Port to listen on (non-privileged ports are > 1023)

with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
    s.bind((HOST, PORT))
    s.listen()
    conn, addr = s.accept()
    with conn:
        print('Connected by', addr)
        while True:
            data = conn.recv(1024)
            if not data: break
            print('Received', repr(data))
            conn.sendall(b'Acknowledged')


# Client (client.py)
import socket

HOST = '127.0.0.1'  # The server's hostname or IP address
PORT = 65432        # The port used by the server

with socket.socket(socket.AF_INET, socket.SOCK_STREAM) as s:
    s.connect((HOST, PORT))
    s.sendall(b'Hello, world')
    data = s.recv(1024)

print('Received', repr(data))

In [ ]:
# prompt: 예외처리와 파일 입출력(다양한 데이터 변환, json, panda, xml 등) 예제 코드를 제시해줘

import json
import pandas as pd
import xml.etree.ElementTree as ET
import os
from io import StringIO # import the StringIO method from the io module

def process_data(file_path):
  """
  파일 경로를 받아 파일 형식에 따라 데이터를 처리하고 출력합니다.

  Args:
    file_path: 파일 경로입니다.
  """
  try:
    if file_path.endswith('.json'):
      with open(file_path, 'r') as f:
        data = json.load(f)
        print("JSON 데이터:")
        print(data)
    elif file_path.endswith('.csv'):
      df = pd.read_csv(file_path)
      print("CSV 데이터:")
      print(df)
    elif file_path.endswith('.xml'):
      tree = ET.parse(file_path)
      root = tree.getroot()
      print("XML 데이터:")
      print(ET.tostring(root, encoding='unicode'))
    else:
      print("지원하지 않는 파일 형식입니다.")
  except FileNotFoundError:
    print(f"파일을 찾을 수 없습니다: {file_path}")
  except json.JSONDecodeError:
    print(f"JSON 파일을 디코딩할 수 없습니다: {file_path}")
  except pd.errors.ParserError:
    print(f"CSV 파일을 파싱할 수 없습니다: {file_path}")
  except ET.ParseError:
    print(f"XML 파일을 파싱할 수 없습니다: {file_path}")


# 예시 파일 경로
json_file_path = 'data.json'
csv_file_path = 'data.csv'
xml_file_path = 'data.xml'

# 파일 처리 함수 호출
process_data(json_file_path)
process_data(csv_file_path)
process_data(xml_file_path)


# 데이터 변환 예시
data = {'name': 'John Doe', 'age': 30, 'city': 'New York'}

# Python 딕셔너리를 JSON 문자열로 변환
json_string = json.dumps(data)
print("JSON 문자열:", json_string)

# JSON 문자열을 Python 딕셔너리로 변환
python_dict = json.loads(json_string)
print("Python 딕셔너리:", python_dict)


# pandas DataFrame을 CSV 문자열로 변환
df = pd.DataFrame({'name': ['Alice', 'Bob'], 'age': [25, 30]})
csv_string = df.to_csv(index=False)
print("CSV 문자열:", csv_string)

# CSV 문자열을 pandas DataFrame으로 변환
df_from_csv = pd.read_csv(pd.compat.StringIO(csv_string))
print("DataFrame from CSV:", df_from_csv)


# XML 데이터 생성
root = ET.Element("root")
child = ET.SubElement(root, "child")
child.text = "Hello, World!"

tree = ET.ElementTree(root)
xml_string = ET.tostring(root, encoding='unicode')
print("XML 문자열:", xml_string)

# XML 문자열을 파싱하여 ElementTree 객체 생성
root_from_xml = ET.fromstring(xml_string)
print("ElementTree from XML:", root_from_xml)

파일을 찾을 수 없습니다: data.json
파일을 찾을 수 없습니다: data.csv
파일을 찾을 수 없습니다: data.xml
JSON 문자열: {"name": "John Doe", "age": 30, "city": "New York"}
Python 딕셔너리: {'name': 'John Doe', 'age': 30, 'city': 'New York'}
CSV 문자열: name,age
Alice,25
Bob,30

AttributeError: module 'pandas.compat' has no attribute 'StringIO'

In [ ]:
# pandas DataFrame을 CSV 문자열로 변환
df = pd.DataFrame({'name': ['Alice', 'Bob'], 'age': [25, 30]})
csv_string = df.to_csv(index=False)
print("CSV 문자열:", csv_string)

# CSV 문자열을 pandas DataFrame으로 변환
from io import StringIO # import the StringIO method from the io module.
df_from_csv = pd.read_csv(StringIO(csv_string)) # remove pandas.compat.
print("DataFrame from CSV:", df_from_csv)
print(type(df_from_csv))

CSV 문자열: name,age
Alice,25
Bob,30

DataFrame from CSV:     name  age
0  Alice   25
1    Bob   30
<class 'pandas.core.frame.DataFrame'>

In [ ]:
def do_local():
    spam = "local spam"
def do_nonlocal():
    nonlocal spam
    spam = "nonlocal spam"
def do_global():
    global spam
    spam = "global spam"

spam = "test spam"

SyntaxError: no binding for nonlocal 'spam' found (<ipython-input-16-101e07b66f1e>, line 4)

In [ ]:
def myfunc1():
  x = "Jane"
  def myfunc2():
    """

    """
    nonlocal x
    x = "hello"
  myfunc2()
  return x

print(myfunc1())

hello

In [ ]:
def scope_test():
    def do_local():
        spam = "local spam"

    def do_global():
        global spam
        spam = "global spam"

    def do_nonlocal():
        nonlocal spam
        spam = "nonlocal spam"

    spam = "test spam"
    do_local()
    print("After local assignment:", spam)
    do_nonlocal()
    print("After nonlocal assignment:", spam)
    do_global()
    print("After global assignment:", spam)
scope_test()
print("In global scope:", spam)

After local assignment: test spam
After nonlocal assignment: nonlocal spam
After global assignment: nonlocal spam
In global scope: global spam

In [ ]:
class Dog:

    def __init__(self, name):
        self.name = name
        self.tricks ={}    # creates a new empty list for each dog

    def add_trick(self, trick):
        self.tricks.update(trick)

In [ ]:
d = Dog('Fido')

In [ ]:
from dataclasses import dataclass

@dataclass
class Employee:
    name: str
    dept: str
    salary: int

In [ ]:
john = Employee('john', 'computer lab', 1000)
john.dept

john.salary

1000

In [ ]:
d.tricks

['roll over']

In [ ]:
d.tricks

['roll over']

In [ ]:
import pandas as pd
df = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_서울_202406.csv'. encoding='cp949')

<ipython-input-2-121884090e4f>:2: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/소상공인시장진흥공단_상가(상권)정보_서울_202406.csv')

In [ ]:
df[df['상호명'].str.contains('벅스')]

,상가업소번호,상호명,지점명,상권업종대분류코드,상권업종대분류명,상권업종중분류코드,상권업종중분류명,상권업종소분류코드,상권업종소분류명,표준산업분류코드,...,건물관리번호,건물명,도로명주소,구우편번호,신우편번호,동정보,층정보,호정보,경도,위도
28860,MA010120220807026560,제이벅스,NaN,M1,과학·기술,M112,전문 디자인,M11202,제품 디자인업,M73202,...,1114010200101400000020511,패스트파이브타워,서울특별시 중구 남대문로9길 24,100180,4522,NaN,10,NaN,126.981119,37.567128
46229,MA010120220808239998,벅스노래연습장,NaN,R1,예술·스포츠,R104,유원지·오락,R10407,노래방,R91223,...,1168010600108890070000001,세화빌딩,서울특별시 강남구 테헤란로64길 18,135839,6192,NaN,1,NaN,127.051176,37.503764
54647,MA010120220808443163,코드벅스,NaN,P1,교육,P105,일반 교육,P10501,입시·교과학원,P85501,...,1144010200101030021025847,NaN,서울특별시 마포구 마포대로16나길 9,121801,4205,NaN,NaN,NaN,126.957903,37.550815
78869,MA010120220809925502,벅스,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1171010500101630001011337,NaN,서울특별시 송파구 백제고분로39길 29,138844,5610,NaN,1,NaN,127.103563,37.506741
86619,MA010120220810217913,링크벅스,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,1168010100106890010022074,NaN,서울특별시 강남구 언주로 528,135917,6147,NaN,NaN,NaN,127.041742,37.505616
101787,MA010120220811682391,벅스노래방,NaN,R1,예술·스포츠,R104,유원지·오락,R10407,노래방,R91223,...,1121510700100440020019839,정하빌딩,서울특별시 광진구 동일로22길 25,143917,5020,NaN,NaN,NaN,127.065795,37.542311
108786,MA010120220811867199,스터디벅스,NaN,M1,과학·기술,M105,광고,M10504,광고물 설계/제작업,M71393,...,1120011400106680088027682,NaN,서울특별시 성동구 서울숲4길 12,133824,4768,NaN,NaN,NaN,127.042306,37.547394
109400,MA010120220811847654,제로벅스,NaN,N1,시설관리·임대,N102,청소·방제,N10203,"소독, 구충 및 방제 서비스업",N74220,...,1147010300101830012012134,NaN,서울특별시 양천구 남부순환로40길 84,158830,7913,NaN,1,NaN,126.825256,37.532738
116824,MA010120220812128421,비주얼벅스,NaN,M1,과학·기술,M112,전문 디자인,M11203,시각 디자인업,M73203,...,1154510100102190005016815,가산테라타워,서울특별시 금천구 디지털로10길 78,153801,8517,NaN,13,NaN,126.889716,37.474533
119894,MA010120220812306634,스터디벅스,NaN,R1,예술·스포츠,R102,도서관·사적지,R10202,독서실/스터디 카페,R90212,...,1168010600110220003014130,NaN,서울특별시 강남구 도곡로78길 6,135500,6279,NaN,지,NaN,127.058920,37.497717
131193,MA010120220812686476,벅스노래바,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1165010100104440006013248,NaN,서울특별시 서초구 방배천로 5-2,137818,6693,NaN,1,NaN,126.982272,37.477330
139408,MA010120220812922049,얌얌벅스,NaN,P1,교육,P106,기타 교육,P10625,기타 기술/직업 훈련학원,P85669,...,1129013500100250024022817,NaN,서울특별시 성북구 종암로5길 9-12,136860,2811,NaN,NaN,NaN,127.035311,37.593966
150507,MA010120220813317524,버그벅스,NaN,N1,시설관리·임대,N102,청소·방제,N10203,"소독, 구충 및 방제 서비스업",N74220,...,1150010300110990006014912,NaN,서울특별시 강서구 우장산로 119,157916,7650,NaN,2,NaN,126.849299,37.553365
151641,MA010120220813258296,스터디벅스카페,NaN,R1,예술·스포츠,R102,도서관·사적지,R10202,독서실/스터디 카페,R90212,...,1168010600109890005013947,NaN,서울특별시 강남구 삼성로58길 9,135501,6282,NaN,지,NaN,127.061972,37.498723
159835,MA010120220813673046,벅스노래연습장,NaN,R1,예술·스포츠,R104,유원지·오락,R10407,노래방,R91223,...,1165010100104440006013248,NaN,서울특별시 서초구 방배천로 5-2,137818,6693,NaN,1,NaN,126.982272,37.477330
172750,MA010120220814134677,벅스노래연습장,NaN,R1,예술·스포츠,R104,유원지·오락,R10407,노래방,R91223,...,1165010600100380013019817,보성플라자,서울특별시 서초구 신반포로47길 18-3,137905,6531,NaN,1,NaN,127.019484,37.511597
275425,MA010120220802454748,범벅스,NaN,I2,음식,I210,기타 간이,I21007,김밥/만두/분식,I56194,...,1154510300109350086001346,NaN,서울특별시 금천구 독산로2길 19,153860,8649,NaN,1,NaN,126.904227,37.447808
275910,MA010120220802347595,벅스드림,NaN,G2,소매,G202,자동차 부품 소매,G20202,자동차 부품 소매업,G45213,...,1147010300100390001012768,서부자동차매매시장,서울특별시 양천구 화곡로 6,158743,7909,NaN,NaN,NaN,126.822638,37.538749
279832,MA010120220802960824,벅스,NaN,I2,음식,I211,주점,I21101,일반 유흥 주점,I56211,...,1114016600100890000022461,NaN,서울특별시 중구 서소문로 128-3,100814,4514,NaN,NaN,NaN,126.975545,37.563304
281648,MA010120220802886469,술타벅스,NaN,I2,음식,I211,주점,I21103,생맥주 전문,I56213,...,1150010200106670008025206,NaN,서울특별시 강서구 공항대로41길 15,157930,7591,NaN,2,NaN,126.844826,37.558656
282654,MA010120220803106965,스타벅스,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,1111012500100620000000001,더케이트윈타워,서울특별시 종로구 종로1길 50,110785,3142,NaN,2,NaN,126.979000,37.574715
339569,MA010120220804115872,유미벅스,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1174010900101660101010436,NaN,서울특별시 강동구 진황도로27길 4,134864,5337,NaN,1,NaN,127.131664,37.538524
361393,MA010120220804467077,옴니벅스,NaN,M1,과학·기술,M109,기술 서비스,M10901,건축 설계 및 관련 서비스업,M72111,...,1129012300101300013041677,NaN,서울특별시 성북구 안암로9길 49,136073,2858,NaN,NaN,NaN,127.023863,37.581807
362938,MA010120220804447617,벅스,NaN,I2,음식,I204,서양식,I20401,경양식,I56123,...,1165010200102760010002776,우양빌딩,서울특별시 서초구 논현로17길 14,137895,6775,NaN,1,NaN,127.044955,37.476277
366219,MA010120220804394059,벅스피아,NaN,P1,교육,P106,기타 교육,P10629,그 외 기타 교육기관,P85699,...,1171011200100760011026953,NaN,서울특별시 송파구 마천로17길 8-1,138858,5723,NaN,1,NaN,127.135680,37.505269
369956,MA010120220804538828,술타벅스,NaN,I2,음식,I211,주점,I21104,요리 주점,I56219,...,1111016300102680000012375,NaN,서울특별시 종로구 종로 254,110836,3197,NaN,NaN,NaN,127.005905,37.570817
404205,MA0106202301A0539891,애니벅스,NaN,P1,교육,P106,기타 교육,P10613,기타 예술/스포츠 교육기관,P85629,...,1168010100106180015023049,NaN,서울특별시 강남구 강남대로102길 32,135907,6128,NaN,1,NaN,127.027922,37.502899
404206,MA0106202301A0539889,애니벅스_강북2,NaN,P1,교육,P106,기타 교육,P10613,기타 예술/스포츠 교육기관,P85629,...,1121510700100900004017683,NaN,서울특별시 광진구 능동로 161,143915,5010,NaN,1,NaN,127.072774,37.545222
415042,MA0106202201A0548173,애니벅스강남센터1,강남점,P1,교육,P106,기타 교육,P10613,기타 예술/스포츠 교육기관,P85629,...,1168010100106180015023049,NaN,서울특별시 강남구 강남대로102길 32,135907,6128,NaN,2,NaN,127.027922,37.502899
415110,MA0106202201A0548184,애니벅스강북1,NaN,P1,교육,P106,기타 교육,P10613,기타 예술/스포츠 교육기관,P85629,...,1121510700100900004017683,NaN,서울특별시 광진구 능동로 161,143915,5010,NaN,1,NaN,127.072774,37.545222
421464,MA0101202305A0138828,연어가맛있는스시벅스은평,구청점,I2,음식,I203,일식,I20301,일식 회/초밥,I56122,...,1138010700100860009024763,서울빌딩,서울특별시 은평구 은평로 157,122907,3460,NaN,1,NaN,126.925083,37.601240
422303,MA0101202303A0114089,트리거벅스,NaN,M1,과학·기술,M107,본사·경영 컨설팅,M10703,경영 컨설팅업,M71531,...,1171010800100880003003592,NaN,서울특별시 송파구 새말로11길 11,138869,5809,NaN,1,NaN,127.127139,37.484031
426856,MA0101202305A0151037,투벅스,NaN,I2,음식,I204,서양식,I20401,경양식,I56123,...,1144012700100020090018518,NaN,서울특별시 마포구 성암로15길 20,121830,3927,NaN,1,NaN,126.895712,37.577875
429685,MA0106202306A0654340,스타벅스_정기결제,NaN,G2,소매,G212,기타 생활용품 소매,G21202,주방/가정용품 소매업,G47599,...,1114016800100010170022326,케이지타워,서울특별시 중구 통일로 92,100712,4517,NaN,15,NaN,126.969203,37.563583
434313,MA0101202306A0092272,투고벅스,NaN,I2,음식,I212,비알코올,I21201,카페,I56221,...,1144012300103380054013652,라움하우징,서울특별시 마포구 동교로 47-6,121820,4018,NaN,1,NaN,126.907461,37.553260
445549,MA0106202308A0652449,이니스타벅스_ARS,NaN,G2,소매,G212,기타 생활용품 소매,G21202,주방/가정용품 소매업,G47599,...,1114016800100010170022326,케이지타워,서울특별시 중구 통일로 92,100712,4517,NaN,15,NaN,126.969203,37.563583
450736,MA0101202310A0021243,돼지벅스,NaN,I2,음식,I201,한식,I20107,돼지고기 구이/찜,I56111,...,1168010100108390001026094,NaN,서울특별시 강남구 강남대로62길 24,135935,6254,NaN,1,NaN,127.033509,37.490628
452902,MA0101202310A0011810,제로벅스,NaN,N1,시설관리·임대,N102,청소·방제,N10203,"소독, 구충 및 방제 서비스업",N74220,...,1147010300100830006010352,NaN,서울특별시 양천구 가로공원로 155,158825,7906,NaN,2,NaN,126.833202,37.536845
455015,MA0101202311A0047920,벅스킬,NaN,N1,시설관리·임대,N102,청소·방제,N10201,건축물 일반 청소업,N74211,...,1135010500104500000002304,교림노원프라자,서울특별시 노원구 한글비석로 444,139820,1666,NaN,NaN,NaN,127.068470,37.663603
460430,MA0101202310A0052440,마라벅스마라탕,건대점,I2,음식,I202,중식,I20202,마라탕/훠궈,I56121,...,1121510900103580009027320,광진동양파라곤2단지,서울특별시 광진구 광나루로 361,143840,5003,NaN,1,NaN,127.069725,37.548424